<template>
        <div class="row mb-4 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="col-lg-4 col-md-12 mb-4" v-for="item in items">
                <!--Card-->
                <div class="card">

                    <!--Card image-->
                    <div class="view overlay">
                        <img :src=item.img class="card-img-top" alt="push-fb.jpg">
                        <a href="" target="_blank">
                            <div class="mask rgba-white-slight waves-effect waves-light"></div>
                        </a>
                    </div>

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <h4 class="card-title">{{item.title}}</h4>
                        <!--Text-->
                        <p class="card-text">{{item.sort_des}}</p>
                        <p class="card-text">
                            <a  :href="item.link" class="btn btn-primary">Details</a>
                        </p>
                    </div>

                </div>
                <!--/.Card-->
            </div>
        </div>
</template>
<script>
    import axios from 'axios'
    export default{
        mounted(){
            var self = this;
            axios.get('/get-posts').then(function (response) {
                self.items = response.data;
            })

        },
        data :function() {
            return{
                items : []
            }
        }
    }
</script>

